 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HOME</title>
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Department", "Save", "Department")</li>
            @*<li>@Html.ActionLink("MemberEntry", "Save", "MemberEntry")</li>
            <li>@Html.ActionLink("BorrowBook", "Borrow", "BorrowBook")</li>*@
        </ul>

    </div>
</body>
</html>
