@using UniversityManagementApp.Models

@{
    //Layout = null;
    List<Department> departmentList = ViewBag.SaveDepartment;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDepartment</title>
</head>
<body>
    <h3>View Department </h3>
<div >
    
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
        @foreach (Department department in departmentList)
        {
            <tr>
                <td>@department.Code</td>
                <td>@department.Name</td>
            </tr>
        }
    </table>
</div>
</body>
</html>
